.red-button {
  background-color: red;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}
.purple-button {
  background-color: purple;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}
.black-button {
  background-color: black;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}
.yellow-button {
  background-color: yellow;
  color: black;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  border-radius: 50%;
}
.green-button {
  background-color: green;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}
.active {
 border: 2px solid #7289da;
}
.container{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: rgb(92, 92, 92);
  padding: 20px;
  font-size: 18px;
}
.todo {
  padding: 15px;
  display: flex;
  width: 300px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
}
.red {
  background-color: rgb(243, 76, 76);
}
.black{
  background-color: rgb(34, 33, 33);
}
.yellow{
  background-color: rgb(247, 247, 138);
}
.green{
  background-color: rgb(112, 243, 133);
}
.purple{
  background-color: rgb(191, 136, 255);
}
.blacktext{
  color: black;
}
.graytext{
  color: rgb(241, 241, 241);
}